webapi/cal_notify_api/target
webapi/cal_notify_api/src/main/resources/project.properties

*.pyc
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
webapp/build/Release
.lock-wscript
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
webapp/node_modules
webapp/bower_components
npm-debug.log
webapp/coverage/
webapp/src/typings/tsd/
webapp/typings/
webapp/tsd_typings/
webapp/dist
webapp/public/__build__/
webapp/src/*/__build__/
webapp/__build__/**
webapp/public/dist/
webapp/src/*/dist/
webapp/dist/**
webapp/.awcache
.webpack.json
webapp/doc/
.idea/
*.swp
