<navbar></navbar>
<div class = "border">
	<div class = "row section-title">
		<div class = "col-md-6 col-md-offset-1">
			{{_languageService.getTranslation('manage')}} {{_languageService.getTranslation('my')}} <span class="second-word">{{_languageService.getTranslation('notifications')}}</span>
		</div>	
	</div>
	<div class="row">
		<div class="little_space"></div>
		<div class = "col-md-8 col-md-offset-1">
			<label class="notification-text">{{_languageService.getTranslation('notification_text1')}} {{_languageService.getTranslation('notification_text2')}}</label>
		</div>	
	</div>
	<div class="Search">
		<div class = "row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('search')}}</label>
			</div>
		</div>
	</div>
	<div class = "additional-address">
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label for="nickname">{{_languageService.getTranslation('addr_nickname')}}</label>  
				<span class="required">({{_languageService.getTranslation('required')}})</span> 
				<input type="text" class = "form-input" placeholder="" id = "nickname" autofocus [(ngModel)]="additional_loc.addresses[0].nickName" />
				<div class = "error" id="error1">{{error.addrNickname}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-8 col-md-offset-1">
				<label for="address">{{_languageService.getTranslation('address')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input address" placeholder="" id = "address" [(ngModel)]="additional_loc.addresses[0].addressOne"/>
				<div class = "error" id="error2">{{error.addresses[0].addressOne}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label for="city">{{_languageService.getTranslation('city')}}</label>
				<input type="text" class = "form-input" placeholder="" id = "city" [(ngModel)]="additional_loc.addresses[0].city"/>
				<!-- <div class = "error" id="error">{{error.city}}</div> -->
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<label for="state">{{_languageService.getTranslation('state')}}</label>
				<select class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id = "state" [(ngModel)]="additional_loc.addresses[0].state" >
					<option *ngFor="let state of states" value="{{state}}">{{state}}</option>			  
				</select>
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<label for="zip">{{_languageService.getTranslation('zip_code')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "zip" [(ngModel)]="additional_loc.addresses[0].zipCode" (keyup.enter)='addLoc()'/>
				<div class = "error" id="error3">{{error.addresses[0].zipCode}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-2 col-md-offset-1">
				<div class = "button" type="submit" id = "add_loc" (click)="addLoc()">{{_languageService.getTranslation('add_loc')}}</div>

			</div>
		</div>
	</div>
	<div class="location-preferences">
		<div class="row">
			<div class = "col-md-8 col-md-offset-1">
				<hr class="hr">
			</div>
		</div>
		<div class = "row section-title">
			<div class = "col-md-6 col-md-offset-1">
				{{_languageService.getTranslation('my1')}} {{_languageService.getTranslation('loc')}} {{_languageService.getTranslation('and')}} <span class="second-word">{{_languageService.getTranslation('preferences')}}</span>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class="col-md-8 col-md-offset-1">
				<table>
				    <thead>
				      <tr>
				        <th scope="col">{{_languageService.getTranslation('loc')}}</th>
				        <th scope="col">{{_languageService.getTranslation('receive_text')}}</th>
				        <th scope="col">{{_languageService.getTranslation('receive_email')}}</th>
				        <th scope="col">{{_languageService.getTranslation('receive_push')}}</th>
				      </tr>
				    </thead>
				    <tbody >
				      <tr *ngFor = "let notification of notifications">
				        <th scope="row">{{notification.nickName}}</th>
				        <td><input type="checkbox" class = "input-box" [(ngModel)]="notification.sms" ></td>
				        <td><input type="checkbox" class = "input-box" [(ngModel)]="notification.email" ></td>
				        <td><input type="checkbox" class = "input-box" [(ngModel)]="notification.sns" ></td>
				      </tr>
				    </tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class="col-md-8 col-md-offset-1">
				<label class="bottom-note"><i>{{_languageService.getTranslation('bottom_note')}}</i></label>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-2 col-md-offset-1">
				<div class = "button" type="submit" id = "submit" (click)="saveNotifications()">{{_languageService.getTranslation('save')}}</div>
				<div class = "error" id="error4">{{error.notifications}}</div>
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<div class = "button" id = "cancel" (click)="cancel()" >{{_languageService.getTranslation('cancel')}}</div>
			</div>
		</div>

	</div>
</div>
<div class="little_space"></div>
<footer></footer>