<navbar></navbar>
<div class = "border">
	<div class = "row section-title">
		<div class = "little-space"></div>
		<div class = "col-md-4 col-md-offset-1">
			{{_languageService.getTranslation('password')}} <span class="second-word">{{_languageService.getTranslation('reset')}}</span>
		</div>
	</div>
	<div class = "row">
		<div class = "little-space"></div>
		<div class="col-md-6 col-md-offset-1">
			<label class="password_reset_text">{{_languageService.getTranslation('password_reset_text')}}</label>
		</div>
	</div>
	<div class = "row">
		<div class = "little-space"></div>
		<div class="col-md-4 col-md-offset-1">
			<label>{{_languageService.getTranslation('email')}}</label>
			<span class="required">({{_languageService.getTranslation('required')}})</span>
			<input type="text" id="email" placeholder="" [(ngModel)]="password_reset.email" (keyup.enter)='submit()'/>
			<div class = "error" id="error">{{error.email}}</div>
		</div>
	</div>
	<div class = "SubmitButtons">
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-2 col-md-offset-1">
				<div class = "button" type="submit" id = "submit" (click)="submit()">{{_languageService.getTranslation('send')}}</div>		
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<div class = "button" id = "cancel" (click)="cancel()">{{_languageService.getTranslation('cancel')}}</div>
			</div>
	    </div>
	</div>

	<div class = "spacer"></div>
	<div class = "little-space"></div>
</div>
<div class = "little-space"></div>
<footer></footer>