<navbar></navbar>
<div class = "border">
	<div class = "row passwordreset">
		<div class = "little-space"></div>
		<div class = "col-md-4 col-md-offset-1">
			{{_languageService.getTranslation('password')}} <span class="second-word">{{_languageService.getTranslation('reset')}}</span>
		</div>
	</div>
	<div class = "row">
		<div class = "little-space"></div>
		<div class="col-md-6 col-md-offset-1">
			<label class="password_reset_text">{{_languageService.getTranslation('password_reset_text')}}</label>
		</div>
	</div>
	<div class = "row">
		<div class = "little-space"></div>
		<div class="col-md-4 col-md-offset-1">
			<label>{{_languageService.getTranslation('email_addr')}}</label>
			<span class="required">(<i class="fa fa-asterisk" aria-hidden="true"> {{_languageService.getTranslation('required')}}</i>)</span>
			<input type="text" id="email" placeholder="" [(ngModel)]="password_reset.email" (keyup.enter)='submit()'/>
			<div class = "error" id="error">{{error.email}}</div>
		</div>
	</div>
	<div class = "row">
		<div class = "little-space"></div>
		<div class="col-md-4 col-md-offset-1">
			<button class="button" type="submit" (click)="submit()">
				{{_languageService.getTranslation('password_reset_info')}}
			</button>
		</div>
	</div>
	<div class = "spacer"></div>
	<div class = "little-space"></div>
</div>
<div class = "little-space"></div>
<footer></footer>