.passwordreset{
	margin-top: 15px;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}

textarea{
	height: 100px;
	width: 100%;
	max-width: 100%;
}
.spacer{
  display: block;
  width : 100%;
  height: 50px;
}

.little_space{
  margin-top: 10px;
}

.password_reset_text{
	font-size: 1.2em;
}

@media only screen and (min-device-width: 480px) {
	.top-space{
		margin-top: 150px;
	}
}

@media only screen and (max-device-width: 480px) {
	.top-space{
		margin-top: 30px;
	}
	.bottom-space{
		display: block;
		width : 100%;
		height: 30px;
	}
	.border{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.button{
	width: 100%;
}