<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.swagger.jaxrs.listing,com.informatixinc.calnotify</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8081/api</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
	<listener>
		<listener-class>com.informatixinc.calnotify.servlets.ApplicationLifecycleListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.informatixinc.calnotify.servlets.BackgroundJobManager</listener-class>
	</listener>
	<filter>
		<filter-name>AuthChain</filter-name>
		<filter-class>com.informatixinc.calnotify.servlets.AuthChain</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthChain</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/index.html</location>
	</error-page>
</web-app>