<navbar></navbar>
<div class = "min-height">
	<div class = "little-space"></div>
	<h1 class = "text-center">{{_languageService.getTranslation('high_wind_warning')}}</h1>
	
	<div class = "text-center"><b>03:15 PST on 02-14-2017</b></div>
	<div class = "little-space"></div>
	<div class = "row">
		<div class="col-md-offset-4 col-md-6">
			...Air Stagnation continues through this morning in the valleys... <br />
			 <br />
			 ...Strong winds expected Wednesday into Thursday... <br />
			 <br />
			 .Strong valley inversions will lead to continued poor air quality <br />
			 in the valleys of southwest Oregon through this morning. <br />
			 Conditions will improve this afternoon. Strong low pressure will <br />
			 then move along the coast Wednesday and Wednesday night, and a <br />
			 front moves inland early Thursday morning. Strong south winds are <br />
			 expected along and ahead of the front as it passes through the <br />
			 area. <br />
			 <br />
			 ...HIGH WIND WARNING IN EFFECT FROM 7 AM WEDNESDAY TO 4 AM PST <br />
			 THURSDAY... <br />
			 <br />
			 ...WIND ADVISORY IN EFFECT FROM 7 AM WEDNESDAY TO 4 AM PST <br />
			 THURSDAY... <br />
			 The National Weather Service in Medford has issued a High Wind <br />
			 Warning...which is in effect from 7 AM Wednesday to 4 AM PST <br />
			 Thursday. A Wind Advisory has also been issued. This Wind <br />
			 Advisory is in effect from 7 AM Wednesday to 4 AM PST Thursday. <br />
			 The High Wind Watch is no longer in effect. <br />
			 <br />
			 * Winds: South 30 to 35 mph with gusts up to 55 mph. South winds <br />
			 of 40 to 60 mph with gusts to 70 mph are expected in the High <br />
			 Wind Warning area. <br />
			 <br />
			 * Locations in the High Wind Warning include: Weed, Interstate 5 <br />
			 between Weed and Grenada, and highway 97 just northeast of Weed. <br />
			 <br />
			 * Locations in the Wind Advisory include: Montague, and Interstate <br />
			 5 between Grenada and Yreka. <br />
			 <br />
			 * Timing: Winds will increase Wednesday afternoon, reaching a peak <br />
			 Wednesday evening into Wednesday night. <br />
			 <br />
			 * Impacts: High winds can make driving dangerous, especially for <br />
			 high profile vehicles. Structural damage, tree damage, and power <br />
			 outages are possible. Loose objects may be picked up by the <br />
			 winds and damaged or lost. <br />
			 Precautionary/preparedness actions... <br />
			 <br />
			 A High Wind Warning means a hazardous high wind event is expected <br />
			 or occurring. Sustained wind speeds of at least 40 mph or gusts of <br />
			 58 mph or more can lead to property damage. Travel will be <br />
			 impacted, especially for high profile vehicles. <br />
			 A Wind Advisory means that winds of 25 to 39 mph are expected <br />
			 with higher gusts possible. Winds this strong can make driving <br />
			 difficult, especially for high profile vehicles. Use extra <br />
			 caution.
			 </div>
	 	</div>
	<div class = "little-space"></div>
</div>
<footer></footer>