<div class = "notification-area">
	<div class = "notification-card pointer" (click)="goToMessage('1')">
		<div class = "notification-icon-area">
			<img src = "assets/images/water.png" class = "notification-icon">
		</div>
		<div class = "message"><b>Flood Warning</b><br>Today at 8:14 AM PST</div>
	</div>
	<div class = "notification-card pointer" (click)="goToMessage('2')">
		<div class = "notification-icon-area">
			<img src = "assets/images/weather.png" class = "notification-icon">
		</div>
		<div class = "message"><b>Storm Warning</b><br>Yesterday at 3:45 PM PST</div>
	</div>
	<div class = "notification-card pointer" (click)="goToMessage('3')">
		<div class = "notification-icon-area">
			<img src = "assets/images/envelope.png" class = "notification-icon">
		</div>
		<div class = "message"><b>Clean your gutters</b><br>February 2nd at 11:24AM PST</div>
	</div>
	<div class = "notification-card pointer" (click)="goToMessage('4')">
		<div class = "notification-icon-area">
			<img src = "assets/images/earthquake.png" class = "notification-icon">
		</div>
		<div class = "message"><b>2.2 Seismic event</b><br>Jan 20th at 2:14AM PST</div>
	</div>
</div>