<navbar></navbar>
<div class = "border">
	<div class = "row signup">
		<div class = "col-md-8 col-md-offset-2">
			<h3>Sign Up</h3>
		</div>
		<div class = "col-md-8 col-md-offset-2">
			<hr>
		</div>
	</div>
	<div class = "Personal">
		<div class="row">
			<div class = "col-md-4 col-md-offset-2 section-header">
			Personal
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="First Name" id = "fname">
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<input type="text" placeholder="Last Name" id = "lname">
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="Email" id = "email">
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<input type="tel" placeholder="Phone Number" id = "phone">
			</div>
		</div>

	</div>
	<div class="little_space"></div>
	<div class = "Address">
		<div class="row">
			<div class = "col-md-4 col-md-offset-2 section-header">
			Address
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="Address 1" id = "address1">
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<input type="text" placeholder="Address 2" id = "address2">
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="State" id = "state">
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<input type="text" placeholder="City" id = "city">
			</div>
		</div>
		
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="Zip Code" id = "zipcode">
			</div>
		</div>

	</div>
	<div class="little_space"></div>
	<div class = "Password">
		<div class="row">
			<div class = "col-md-4 col-md-offset-2 section-header">
			Password
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-2">
				<input type="text" placeholder="Password" id = "password">
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<input type="text" placeholder="Confirm Password" id = "confpassword">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="little_space"></div>
		<div class = "col-md-8 col-md-offset-2">
			<hr>
		</div>
		<div class = "col-md-4 col-md-offset-4">
			<div class = "button">Sign Up</div>		
		</div>
		
	</div>
	<div class="little_space"></div>
</div>
<footer></footer>