<navbar></navbar>
<div class = "border">
	<div class = "row signup">
		<div class = "col-md-4 col-md-offset-1">
			{{_languageService.getTranslation('create')}} {{_languageService.getTranslation('an')}} <span class="second-word">{{_languageService.getTranslation('account')}}</span>
		</div>		
	</div>
	<div class = "Personal">
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('first_name')}}</label>   
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input #fname type="text" class = "form-input" placeholder="" id = "fname" [(ngModel)]="sign_up.firstName" autofocus />
				<div class = "error" id="error">{{error.firstName}}</div>
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<label>{{_languageService.getTranslation('last_name')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "lname"  [(ngModel)]="sign_up.lastName" />
				<div class = "error" id="error">{{error.lastName}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-8 col-md-offset-1">
				<label>{{_languageService.getTranslation('address1')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input address" placeholder="" id = "address1" [(ngModel)]="sign_up.addresses[0].addressOne" />
				<div class = "error" id="error">{{error.addresses[0].addressOne}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-8 col-md-offset-1">
				<label>{{_languageService.getTranslation('address2')}}</label>
				<input type="text" class = "form-input address" placeholder="" id = "address2" [(ngModel)]="sign_up.addresses[0].addressTwo" />
				<div class = "error" id="error">{{error.addresses[0].addressTwo}}</div>
			</div>
		</div>
	</div>
	<div class = "Address2">
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('city')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "city" [(ngModel)]="sign_up.addresses[0].city" />
				<div class = "error" id="error">{{error.addresses[0].city}}</div>
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<label>{{_languageService.getTranslation('state')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<select class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id = "state" [(ngModel)]="sign_up.addresses[0].state">
					<option *ngFor="let state of states" value="{{state}}">{{state}}</option>			  
				</select>
				<!-- <input type="text" class = "form-input" placeholder="{{_languageService.getTranslation('state')}}" id = "state"> -->
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<label>{{_languageService.getTranslation('zip_code')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "zipcode" [(ngModel)]="sign_up.addresses[0].zipCode"/>
				<div class = "error" id="error">{{error.addresses[0].zipCode}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('phone_number')}}</label>
				<span class="required">({{_languageService.getTranslation('required1')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "phone" [(ngModel)]="sign_up.phoneNumber" />
				<div class = "error" id="error">{{error.phoneNumber}}</div>
			</div>
		</div>
	</div>
	<div class = "Password">
		<div class="row signup">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<span class="second-word">{{_languageService.getTranslation('signin')}}</span> {{_languageService.getTranslation('information')}}
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('email')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="text" class = "form-input" placeholder="" id = "email" [(ngModel)]="sign_up.email" />
				<div class = "error" id="error">{{error.email}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-4 col-md-offset-1">
				<label>{{_languageService.getTranslation('password')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="password" class = "form-input" placeholder="" id = "password" [(ngModel)]="sign_up.password" />
				<div class = "error" id="error">{{error.password}}</div>
			</div>
			<div class="little_space"></div>
			<div class = "col-md-4">
				<label>{{_languageService.getTranslation('confirm_password')}}</label>
				<span class="required">({{_languageService.getTranslation('required')}})</span>
				<input type="password" class = "form-input" placeholder="" id = "confPassword" [(ngModel)]="sign_up.confPassword" (keyup.enter)='signup()'/>
				<div class = "error" id="error">{{error.confPassword}} <br> {{error.passwordMatch}}</div>
			</div>	
		</div>
	</div>
	<div class = "SignupSubmit">
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-2 col-md-offset-1">
				<div class = "button" type="submit" id = "submit" (click)="signup()">{{_languageService.getTranslation('create_account')}}</div>		
			</div>
			<div class="little_space"></div>
			<div class = "col-md-2">
				<div class = "button" type="submit" id = "cancel" (click)="cancel()">{{_languageService.getTranslation('cancel')}}</div>
			</div>
	    </div>
	</div>
</div>
<div class="little_space"></div>
<footer></footer>