<navbar></navbar>
<div class = "border">
	<div class = "row section-title">
		<div class = "col-md-4 col-md-offset-1">
			{{_languageService.getTranslation('privacy')}} <span class="second-word">{{_languageService.getTranslation('policy')}}</span>
		</div>
	</div>
	<div class="row titles">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy1')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy2')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			<b>{{_languageService.getTranslation('policy3')}}</b> {{_languageService.getTranslation('policy15')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy4')}}
		</div>
	</div>
	<div class="row titles">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy5')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy6')}}
		</div>
	</div>
	<div class="row titles">	
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy7')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy8')}} <br>
			{{_languageService.getTranslation('policy9')}}
		</div>
	</div>
	<div class="row titles">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">	
			{{_languageService.getTranslation('policy10')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy11')}}
			{{_languageService.getTranslation('policy12')}}
		</div>
	</div>
	<div class="row titles">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy13')}}
		</div>
	</div>
	<div class="row content">
		<div class="little_space"></div>
		<div class = "col-md-10 col-md-offset-1">
			{{_languageService.getTranslation('policy14')}}
		</div>
	</div>
	<div class="little_space"></div>
</div>
<footer></footer>