<navbar></navbar>
<div class = "main-body">
	<div class = "section-header">
		<h3>Notify Users</h3>
	</div>
	<div class = "col-md-8 col-md-offset-2">
		<hr>
	</div>
	<div class = "row">
		<div class = "col-md-6 col-md-offset-3 top-space">
			<input type = "text" placeholder="Title" id = "title" class = "form-input">
			<div class="little_space"></div>
			<textarea rows="5" placeholder="Message" ></textarea> 
			<div class = "button" >Send</div>
		</div>
	</div>
	<div class = "row">
		<div class= "bottom-space"></div>
	</div>
</div>
<notifications></notifications>
<div class = "clear"></div>
<footer></footer>