<navbar></navbar>
<div class = "row">
	<div class = "col-md-3 col-md-offset-1">
		<h1><b>{{_languageService.getTranslation('reports')}}</b></h1>
	</div>
</div>
<div class = "row">
	<div class = "col-md-3 col-md-offset-1">
		<div class = "little-space"></div>
		<div class = "report-title">
			This Month's<br>Notifications
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-gauge"></div>
			<div class = "little-space"></div>
			<div class = "inner-container">
				<div class = "inner-title">By Date</div>
				<div class = 
			</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "little-space"></div>
		<div class = "report-title">
			Notifications<br>by Source
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-pie"></div>
			<div class = "little-space"></div>
			<div class = "button">Export</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "little-space"></div>
		<div class = "report-title">
			Accounts by Status 2 Month Compare
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-bar"></div>
			<div class = "little-space"></div>
			<div class = "button">Export</div>
			<div class = "little-space"></div>
		</div>
	</div>
</div>
<div class = "little-space"></div>
<footer></footer>