<navbar></navbar>
<div class = "row">
	<div class = "col-md-3 col-md-offset-1">
		<h1><b>{{_languageService.getTranslation('reports')}}</b></h1>
	</div>
	<div class = "col-md-3">
		<div class = "picker-space"></div>
		<select>
			<option value="" disabled selected>Month</option>
			<option>January</option>
			<option>February</option>
			<option>March</option>
			<option>April</option>
			<option>May</option>
			<option>June</option>
			<option>July</option>
			<option>August</option>
			<option>September</option>
			<option>October</option>
			<option>November</option>
			<option>December</option>
		</select>
	</div>
	<div class = "col-md-3">
		<div class = "picker-space"></div>
		<select>
			<option value="" disabled selected>Year</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
			<option>2017</option>
		</select>
	</div>
</div>
<div class = "row">
	<div class = "col-md-3 col-md-offset-1">
		<div class = "little-space"></div>
		<div class = "report-title">
			Notifications Sent
		</div>
		<div class = "chart-display-background">
			<div class = "little-space"></div>
			<div id = "notifications-gauge"></div>
			<div class = "little-space"></div>
			<div class = "button">Export</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "little-space"></div>
		<div class = "report-title">
			Notifications Type's
		</div>
		<div class = "chart-display-background">
			<div class = "little-space"></div>
			<div id = "notifications-pie"></div>
			<div class = "little-space"></div>
			<div class = "button">Export</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "little-space"></div>
		<div class = "report-title">
			User Activity
		</div>
		<div class = "chart-display-background">
			<div class = "little-space"></div>
			<div id = "notifications-bar"></div>
			<div class = "little-space"></div>
			<div class = "button">Export</div>
			<div class = "little-space"></div>
		</div>
	</div>
</div>
<div class = "little-space"></div>
<footer></footer>