<navbar></navbar>
<div class = "row">
	<div class = "col-md-3 col-md-offset-1">
		<h1><b>{{_languageService.getTranslation('reports')}}</b></h1>
	</div>
</div>
<div class = "row">
	<div class = "col-md-4">
		<div class = "little-space"></div>
		<div class = "report-title">
			{{_languageService.getTranslation('this_month')}}<br>{{_languageService.getTranslation('notifications')}}
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-gauge"></div>
			<div class = "little-space"></div>
			<div class = "inner-container">
				<div class = "inner-title">{{_languageService.getTranslation('by_date')}}</div>
				<div class = "report-row" *ngFor="let date of notificationData">
					<div class = "row-date">{{date}}</div>
					<a class = "export-button" (click)="exportNotifications(date, $event)">{{_languageService.getTranslation('export')}}</a>
					<div class = "clear"></div>
				</div>
			</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "little-space"></div>
		<div class = "report-title">
			{{_languageService.getTranslation('notifications')}}<br>{{_languageService.getTranslation('by_source')}}
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-pie"></div>
			<div class = "little-space"></div>
			<div class = "inner-container">
				<div class = "inner-title">By Source</div>
				<div class = "report-row" *ngFor="let catagory of sourceData">
					<div class = "row-date">{{catagory}}</div>
					<a class = "export-button" (click)="exportCatagory(catagory, $event)">{{_languageService.getTranslation('export')}}</a>
					<div class = "clear"></div>
				</div>
			</div>
			<div class = "little-space"></div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "little-space"></div>
		<div class = "report-title">
			{{_languageService.getTranslation('by_status')}} {{_languageService.getTranslation('month_compare')}}
		</div>
		<div class = "chart-display-background">
			<div id = "notifications-bar"></div>
			<div class = "little-space"></div>
			<div class = "inner-container">
				<div class = "inner-title">By Date Range</div>
				<div class = "report-row" *ngFor = "let label of userDataLabels">
					<div class = "row-date" >{{label}}</div>
					<a class = "export-button" (click)="exportUserData(label, $event)">{{_languageService.getTranslation('export')}}</a>
					<div class = "clear"></div>
				</div>
			</div>
			<div class = "little-space"></div>
		</div>
	</div>
</div>
<div class = "little-space"></div>
<footer></footer>