<div class="footer footer-style">
	<div class="container-fluid text-center">
		<ul class="footer-default">
	        <li><a [routerLink]="['/contactus']">Contact Us</a></li>
	        <li>|</li>
	        <li><a [routerLink]="['/sitemap']">Site Map</a></li>
	        <li>|</li>
	        <li><a [routerLink]="['/glossary']">Glossary</a></li>
	    </ul>
	    <ul class="footer-icons">
	        <li> <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
	        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
	        <li><a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
	    </ul>
	</div>
</div>
