<div class="footer footer-style">
	<div class="container-fluid">
		<ul class="footer-default">
			<li><a [routerLink]="['/privacy']">{{_languageService.getTranslation('privacy_policy')}}</a></li>
			<li>|</li>
	        <li><a [routerLink]="['/contact']">{{_languageService.getTranslation('contact_us')}}</a></li>
	        <li>|</li>
	        <li><a [routerLink]="['/faq']">{{_languageService.getTranslation('faq')}}</a></li>
	        <li>|</li>
	        <li><a (click)="setLanguage('en')">{{_languageService.getTranslation('english')}}</a></li>
	        <li>|</li>
	        <li><a (click)="setLanguage('es')">{{_languageService.getTranslation('spanish')}}</a></li>
	    </ul>

	</div>
</div>
