.footer-style{
	background-color: #112e51;
}
.footer{
	width: 100%;
	border: none;
	border-radius: 0px;
	border-top: 3px solid black;
	height: 80px;
}
.footer-default{
	list-style-type: none;
	text-align: center;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-default>li{
	display: inline-block;
	color:#fff;
}
.footer-default>li>a{
	color:#fff;
	font-size: 1em;
	display: block;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.footer-icons{
	list-style-type: none;
	text-align: center;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-icons>li{
	display: inline-block;
}
.footer-icons>li>a{
	color:#fff;
	font-size: 20px;
	display: block;
    padding: 8px;
}
