<div class = "outer_title">
  <div class="inner_title">
    <a class="title navbar-brand " [routerLink]="['/home']">Cal Notify</a>
    <div class = "sub-header">
      ALERT NOTIFICATION SYSTEM
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-style">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']"><img class = "brand_icon" src="assets/images/state_seal.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right bottom_right_menu">
        <li class = "menu_item" *ngIf="!isLoggedIn()"><a [routerLink]="['/faq']">{{_languageService.getTranslation('faq') | uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="!isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="!isLoggedIn()"><a [routerLink]="['/home']">{{_languageService.getTranslation('signin') | uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="!isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">{{_languageService.getTranslation('createanaccount') | uppercase}}</a></li>
        <li class = "menu_item" *ngIf="isLoggedIn()"><a [routerLink]="['/dashboard']">{{"My Dashboard" | uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="isLoggedIn()"><a [routerLink]="['/notification']">{{"Notifications" | uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="isLoggedIn()"><a [routerLink]="['/account']">{{"Account"| uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="isLoggedIn()"><a [routerLink]="['/faq']">{{_languageService.getTranslation('faq') | uppercase}}</a></li>
        <li class = "menu_item hide-mobile menu-spacer" *ngIf="isLoggedIn()">|</li>
        <li class = "menu_item" *ngIf="isLoggedIn()"><a (click)="logOut()" class="pointer">{{"Sign Out" | uppercase}}</a></li>
      </ul>
    </div>
  </div>
</nav>