.navbar-style{
	background-color: #0071BD;
}

.navbar{
	margin-bottom: 0px; 
	border: none;
	border-radius: 0px;
	border-bottom: 3px solid black;
	min-height: 100px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size: 1.3em;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size: 1.3em;
}

.navbar-default .navbar-toggle {
	z-index: 5;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
    width: 25px;
    height: 4px;
}

.navbar-collapse{
	margin-top: 30px;
}

.navbar-toggle{
	margin-top: 30px;
}

.title{
	color: #fff;
	font-size: 3.0em;
}

.sub-header{
	color: #DFEDBD;
    margin-left: 18px;
}

@media only screen and (min-device-width: 480px) {
	.outer_title{
		position: absolute; 
		left: 200px;
		z-index: 2;
	}

	.hide-non-mobile{
		display: none;
	}

	.bottom_right_menu{
	    position: absolute;
	    right: 15px;
	    bottom: -10px;
	    font-size: .8em;
	}
}

@media only screen and (max-device-width: 480px) {
	.outer_title{
		position: absolute; 
		left: 50%;
		z-index: 2;
	}

	.hide-mobile{
		display: none;
	}
}

.menu-spacer{
	margin-top: 15px;
	color: #fff;
}

.menu_item{
	font-size: 1.2em;
}

.inner_title{
	position: relative; left: -50%;
	margin-top: 10px;
}

.brand_icon{
	height: 80px;
    top: -5px;
    width: 80px;
    position: relative;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #112e51;
	font-size: 1.3em;
}

.navbar-toggle{
	border: none;
}

