<navbar></navbar>
<div class = "min-height">
	<div class = "little-space"></div>
	<h1 class = "text-center">FAQ</h1>
	<div class = "row">
		<div class="col-md-offset-1 col-md-10">
			<h3 class = "pointer" (click)="toggleHidden(0)">How do I join? <span class = "blue" *ngIf = "!elements[0]">+</span><span class = "blue" *ngIf="elements[0]">-</span></h3>
			<span class = "description" *ngIf = "elements[0]">Click on the sign up button the top right of the page.</span>
		</div>
	</div>
	<div class = "little-space"></div>
</div>
<footer></footer>