<navbar></navbar>
<div class = "border">
	<div class = "row section-title">
		<div class = "col-md-6 col-md-offset-1">
			{{_languageService.getTranslation('faq1')}} {{_languageService.getTranslation('faq2')}} <span class="second-word">{{_languageService.getTranslation('faq3')}}</span>
		</div>		
	</div>
	<div class = "Questions page_font">
		
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(0)">{{_languageService.getTranslation('q1')}} <span class = "blue" *ngIf = "!elements[0]">+</span><span class = "blue" *ngIf="elements[0]">-</span></h3>
				<span class = "description" *ngIf = "elements[0]">{{_languageService.getTranslation('a1')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(1)">{{_languageService.getTranslation('q2')}} <span class = "blue" *ngIf = "!elements[1]">+</span><span class = "blue" *ngIf="elements[1]">-</span></h3>
				<span class = "description" *ngIf = "elements[1]">{{_languageService.getTranslation('a2')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(2)">{{_languageService.getTranslation('q3')}} <span class = "blue" *ngIf = "!elements[2]">+</span><span class = "blue" *ngIf="elements[2]">-</span></h3>
				<span class = "description" *ngIf = "elements[2]">{{_languageService.getTranslation('a3')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(3)">{{_languageService.getTranslation('q4')}} <span class = "blue" *ngIf = "!elements[3]">+</span><span class = "blue" *ngIf="elements[3]">-</span></h3>
				<span class = "description" *ngIf = "elements[3]">{{_languageService.getTranslation('a4')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(4)">{{_languageService.getTranslation('q5')}} <span class = "blue" *ngIf = "!elements[4]">+</span><span class = "blue" *ngIf="elements[4]">-</span></h3>
				<span class = "description" *ngIf = "elements[4]">{{_languageService.getTranslation('a5')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(5)">{{_languageService.getTranslation('q6')}} <span class = "blue" *ngIf = "!elements[5]">+</span><span class = "blue" *ngIf="elements[5]">-</span></h3>
				<span class = "description" *ngIf = "elements[5]">{{_languageService.getTranslation('a6')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(6)">{{_languageService.getTranslation('q7')}} <span class = "blue" *ngIf = "!elements[6]">+</span><span class = "blue" *ngIf="elements[6]">-</span></h3>
				<span class = "description" *ngIf = "elements[6]">{{_languageService.getTranslation('a7')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(7)">{{_languageService.getTranslation('q8')}} <span class = "blue" *ngIf = "!elements[7]">+</span><span class = "blue" *ngIf="elements[7]">-</span></h3>
				<span class = "description" *ngIf = "elements[7]">{{_languageService.getTranslation('a8')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(8)">{{_languageService.getTranslation('q9')}} <span class = "blue" *ngIf = "!elements[8]">+</span><span class = "blue" *ngIf="elements[8]">-</span></h3>
				<span class = "description" *ngIf = "elements[8]">{{_languageService.getTranslation('a9')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(9)">{{_languageService.getTranslation('q10')}} <span class = "blue" *ngIf = "!elements[9]">+</span><span class = "blue" *ngIf="elements[9]">-</span></h3>
				<span class = "description" *ngIf = "elements[9]">{{_languageService.getTranslation('a10')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(10)">{{_languageService.getTranslation('q11')}} <span class = "blue" *ngIf = "!elements[10]">+</span><span class = "blue" *ngIf="elements[10]">-</span></h3>
				<span class = "description" *ngIf = "elements[10]">{{_languageService.getTranslation('a11')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(11)">{{_languageService.getTranslation('q12')}} <span class = "blue" *ngIf = "!elements[11]">+</span><span class = "blue" *ngIf="elements[11]">-</span></h3>
				<span class = "description" *ngIf = "elements[11]">{{_languageService.getTranslation('a12')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(12)">{{_languageService.getTranslation('q13')}} <span class = "blue" *ngIf = "!elements[12]">+</span><span class = "blue" *ngIf="elements[12]">-</span></h3>
				<span class = "description" *ngIf = "elements[12]">{{_languageService.getTranslation('a13')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(13)">{{_languageService.getTranslation('q14')}} <span class = "blue" *ngIf = "!elements[13]">+</span><span class = "blue" *ngIf="elements[13]">-</span></h3>
				<span class = "description" *ngIf = "elements[13]">{{_languageService.getTranslation('a14')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(14)">{{_languageService.getTranslation('q15')}} <span class = "blue" *ngIf = "!elements[14]">+</span><span class = "blue" *ngIf="elements[14]">-</span></h3>
				<span class = "description" *ngIf = "elements[14]">{{_languageService.getTranslation('a15')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(15)">{{_languageService.getTranslation('q16')}} <span class = "blue" *ngIf = "!elements[15]">+</span><span class = "blue" *ngIf="elements[15]">-</span></h3>
				<span class = "description" *ngIf = "elements[15]">{{_languageService.getTranslation('a16')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(16)">{{_languageService.getTranslation('q17')}} <span class = "blue" *ngIf = "!elements[16]">+</span><span class = "blue" *ngIf="elements[16]">-</span></h3>
				<span class = "description" *ngIf = "elements[16]">{{_languageService.getTranslation('a17')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(17)">{{_languageService.getTranslation('q18')}} <span class = "blue" *ngIf = "!elements[17]">+</span><span class = "blue" *ngIf="elements[17]">-</span></h3>
				<span class = "description" *ngIf = "elements[17]">{{_languageService.getTranslation('a18')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(18)">{{_languageService.getTranslation('q19')}} <span class = "blue" *ngIf = "!elements[18]">+</span><span class = "blue" *ngIf="elements[18]">-</span></h3>
				<span class = "description" *ngIf = "elements[18]">{{_languageService.getTranslation('a19')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(19)">{{_languageService.getTranslation('q20')}} <span class = "blue" *ngIf = "!elements[19]">+</span><span class = "blue" *ngIf="elements[19]">-</span></h3>
				<span class = "description" *ngIf = "elements[19]">{{_languageService.getTranslation('a20')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(20)">{{_languageService.getTranslation('q21')}} <span class = "blue" *ngIf = "!elements[20]">+</span><span class = "blue" *ngIf="elements[20]">-</span></h3>
				<span class = "description" *ngIf = "elements[20]">{{_languageService.getTranslation('a21')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(21)">{{_languageService.getTranslation('q22')}} <span class = "blue" *ngIf = "!elements[21]">+</span><span class = "blue" *ngIf="elements[21]">-</span></h3>
				<span class = "description" *ngIf = "elements[21]">{{_languageService.getTranslation('a22')}}</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3 class = "pointer titles" (click)="toggleHidden(22)">{{_languageService.getTranslation('q23')}} <span class = "blue" *ngIf = "!elements[22]">+</span><span class = "blue" *ngIf="elements[22]">-</span></h3>
				<span class = "description" *ngIf = "elements[22]">{{_languageService.getTranslation('a23')}}</span>
			</div>
			<!-- <div class="col-md-10 col-md-offset-1">
				
			</div> -->
		</div>
	</div>
	<div class="little_space"></div>
</div>
<footer></footer>
