.main-body{
	background-image: url("/assets/images/home_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.home-message{
	display: block;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin: 0 auto;
	font-size: 1.5em;
	background: rgb(255,255,255); 
   	background: rgba(255,255,255, 0.5);
	margin-top: 20px;
}


.white-background{
	text-align: center;
	padding: 5px 5px 5px 5px;
	background: rgb(255,255,255); 
   	background: rgba(255,255,255, 0.5);
}

.top-space{
	margin-top: 300px;
}

.signup-text{
	font-size: 1.3em;
}

.button{
	width: 100%;
}

.form-input{
	margin-top: 17px;
    margin-bottom: 17px;
}