<navbar></navbar>
<div class = "row">
	<div class="col-md-12">
		<img src = "assets/images/ocean.jpg" class = "banner">
	</div>
</div>
<div class = "container">
	<div class = "main-body">
		<h1><b>Welcome to <span class = "highlight-blue">Cal Notify</span></b></h1>
		<p>Cal Notify has been established to help keep California residents informed about events that may impact their safety, health and / or daily activities.  Residents can receive email, text and push notifications for multiple locations including home, child day care, work, etc.  We encourage you to create an account so you can receive instant notifications concerning your safety and the safety of those you care about.</p>

		<p>To find active notifications in your area, you may search by zip code in the active notification panel.  You do not need to create an account to search.</p>
	</div>

	<div class = "notification-body">
		sdfsdf
	</div>
</div>
<div class = "clear"></div>
<footer></footer>