<navbar></navbar>
<div class = "row">
	<div class="col-md-12">
		<img src = "assets/images/ocean.jpg" class = "banner" alt="ocean image">
	</div>
</div>
<div class = "main-container">
	<div class = "main-body">
		<h1><b>{{_languageService.getTranslation('welcome')}} <span class = "highlight-blue">{{_languageService.getTranslation('calnotify')}}</span></b></h1>
		<p class="text_align">{{_languageService.getTranslation('home1')}} {{_languageService.getTranslation('home2')}} {{_languageService.getTranslation('home3')}}</p>

		<p class="text_align">{{_languageService.getTranslation('home4')}} {{_languageService.getTranslation('home5')}}</p>

		<h1><b>{{_languageService.getTranslation('signin')}}</b></h1>
		<p class = "strip-decorators">or <a [routerLink]="['/signup']"><span class="decorator">{{_languageService.getTranslation('createanaccount')}}</span></a></p>
		<div class="row">
			<div class = "col-md-8">
				<label for="email">{{_languageService.getTranslation('email')}}</label>
				<input type="text" class = "form-input" placeholder="" id = "email" [(ngModel)]="email" />
				<div class = "error" id="error1">{{error.email}}</div>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-8">
				<label for="password">{{_languageService.getTranslation('password')}}</label>
				<input #input type="password" class = "form-input" placeholder="" id = "password" [(ngModel)]="password" (keyup.enter)='login()' />
				<div class = "error" id="error2">{{error.password}}</div>	
			</div>
			<div class = "col-md-7 text-right password-align">
				<span (click)="showPassword(input)" id="show">{{error.showPassword}}</span>
			</div>
		</div>
		<div class="row">
			<div class="little_space"></div>
			<div class = "col-md-3">
				<div class = "button" (click)="login()">{{_languageService.getTranslation('signin')}}</div>		
			</div>
		</div>
		<div class = "little_space"></div>
		<div class="row">
			<div class = "col-md-3 forgot-password">
				<a [routerLink]="['/password-reset']">{{_languageService.getTranslation('forgot_password')}}</a>
			</div>
		</div>

		<div class = "med-space"></div>
	</div>

	<div class = "notification-body hide-mobile">
		<div class = "notification-setter">
			<div class = "text-center notification-header">
				{{_languageService.getTranslation('home6')}}
			</div>
			<div class = "text-center" *ngIf="_userState.getAddress().zipCode.length == 0">
				<div class = "button" [routerLink]="['/setlocation']">{{_languageService.getTranslation('home7')}}</div>
			</div>
			<div class = "text-center show-location" *ngIf="_userState.getAddress().zipCode.length > 0">
				<div>{{_userState.getAddress().addressOne}}</div>
				<div>{{_userState.getAddress().city}} {{_userState.getAddress().zipCode}}</div>
				<div class = "button" (click)="clearLocation()">Clear location</div>
			</div>
			<div class = "notification-container" *ngFor="let notification of notifications">
				<div class = "notification-card pointer" (click)="goToNotification(notification.id)">
					<div class = "notification-icon-area">
						<img [src]="notification.imageUrl" class = "notification-icon">
					</div>
					<div class = "message"><b>{{notification.title}}</b><br>{{notification.expireTime}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "clear"></div>
<footer></footer>