<navbar></navbar>
<div class = "border">
	<div class = "row section-title">
		<div class = "col-md-4 col-md-offset-1">
			{{_languageService.getTranslation('home8')}} <span class="highlight-blue">{{_languageService.getTranslation('home9')}}</span>
		</div>		
	</div>
	<div class="row">
		<div class="little-space"></div>
		<div class = "col-md-8 col-md-offset-1">
			<label for="address1">{{_languageService.getTranslation('address1')}}</label>
			<span class="required">({{_languageService.getTranslation('required')}})</span>
			<input type="text" class = "form-input address" placeholder="" id = "address1" [(ngModel)]="address.addressOne"/>
			<div class = "error" id="error1">{{error.addressOne}}</div>
		</div>
	</div>

	<div class="row">
		<div class = "col-md-4 col-md-offset-1">
			<div class="little-space"></div>
			<label for="city">{{_languageService.getTranslation('city')}}</label>
			<input type="text" class = "form-input" placeholder="" id = "city" [(ngModel)]="address.city" />
		</div>
		<div class = "col-md-2">
			<div class="little-space"></div>
			<label for="state">{{_languageService.getTranslation('state')}}</label>
			<select class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id = "state" [(ngModel)]="address.state">
				<option *ngFor="let state of states" value="{{state}}">{{state}}</option>			  
			</select>
		</div>
		<div class = "col-md-2">
			<div class="little-space"></div>
			<label for="zipcode">{{_languageService.getTranslation('zip_code')}}</label>
			<span class="required">({{_languageService.getTranslation('required')}})</span>
			<input type="text" class = "form-input" placeholder="" id = "zipcode" [(ngModel)]="address.zipCode" />
			<div class = "error" id="error2">{{error.zipCode}}</div>
		</div>
	</div>
	<div class="row">
		<div class="little-space"></div>
		<div class = "col-md-2 col-md-offset-1">
			<div class = "button hide-mobile" (click)="setLocation()">{{_languageService.getTranslation('save')}}</div>	
			<div class = "button hide-non-mobile" (click)="setLocationMobile()">{{_languageService.getTranslation('save')}}</div>	
		</div>
		<div class="little_space"></div>
		<div class = "col-md-2">
			<div class = "button hide-mobile"(click)="cancel()">{{_languageService.getTranslation('cancel')}}</div>
			<div class = "button hide-non-mobile" (click)="cancelMobile()">{{_languageService.getTranslation('cancel')}}</div>
		</div>	
	</div>
	<div class="little-space"></div>
</div>
<footer></footer>