<navbar></navbar>
<div class = "border">
	<div class = "row">
		<div class = "col-md-4 col-md-offset-1">
			<h1><b>{{_languageService.getTranslation('home8')}} <span class="highlight-blue">{{_languageService.getTranslation('home9')}}</span></b></h1>
		</div>		
	</div>
	<div class="row">
		<div class="little-space"></div>
		<div class = "col-md-8 col-md-offset-1">
			<label>{{_languageService.getTranslation('address1')}}</label>
			<input type="text" class = "form-input address" placeholder="" id = "address1" [(ngModel)]="address.addressOne"/>
		</div>
	</div>

	<div class="row">
		<div class = "col-md-4 col-md-offset-1">
			<div class="little-space"></div>
			<label>{{_languageService.getTranslation('city')}}</label>
			<input type="text" class = "form-input" placeholder="" id = "city" [(ngModel)]="address.city" />
		</div>
		<div class = "col-md-2">
			<div class="little-space"></div>
			<label>{{_languageService.getTranslation('state')}}</label>
			<select class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id = "state" [(ngModel)]="address.state">
				<option *ngFor="let state of states" value="{{state}}">{{state}}</option>			  
			</select>
		</div>
		<div class = "col-md-2">
			<div class="little-space"></div>
			<label>{{_languageService.getTranslation('zip_code')}}</label>
			<span class="required">({{_languageService.getTranslation('required')}})</span>
			<input type="text" class = "form-input" placeholder="" id = "zipcode" [(ngModel)]="address.zipCode" />
		</div>
	</div>
	<div class="row">
		<div class = "col-md-3 col-md-offset-1">
			<div class="little-space"></div>
			<div class = "button" (click)="setLocation()">{{_languageService.getTranslation('home10')}}</div>		
		</div>
	</div>
	<div class="little-space"></div>
</div>
<footer></footer>